@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*
{
    margin: 0;
}
.logotip
{
    font-family:"Architects Daughter";
    display: flex;
    align-items: center;
    color: #FA8072;
    font-size: 30px;

}
.logotip_photo
{
    width: 140px;

}
.photo_1
{
    width: 250px;
}
body
{
    margin: 0;
}
header
{
    display: flex;

    background-color: antiquewhite;

}
ul.menu li
{
    list-style-type: none;
    border: 1px solid #FFB6C1; /*Рамка вокруг текста*/
    padding: 10px 10px; /* Поля вокруг текста*/
    background-color: #FFB6C1;

}
nav.center
{
    background-color: #FFDAB9;
}
.r
{

     width: 300px; /* Ширина слоя */
    height: 25px;
    text-decoration: none;
    color: #C71585;
}

main
{
    max-width: 960px;
    margin: 0 auto;
    outline: 2px solid #FFB6C1; /*рамка по контуру меню*/
    border: 3px solid #fff;
}
.menu
{
    background: #FFDAB9;
    font-size: 20px; /* Размер шрифта */

    text-decoration-color: aliceblue;
    width: 320px;
}

.ssulki
{
    background-color: antiquewhite;
}
.spisok
{
    color:#FF1493;
    font-size: 20px;


}
.tablecol
{
    background-color: antiquewhite;
}
.table
{
    background-color: beige;
}
.table1
{
    background-color: darksalmon
}

td {
    padding: 5px; /* Поля вокруг содержимого таблицы */
    border: 2px solid pink; /* Параметры рамки */

   }
.first_col
{
    margin: 0;
}
.anket
{
    background-color: antiquewhite;
}
.nadpis
{
    background-color:#BC8F8F;
    font-size: 17px;
    text-shadow: 6px 4px 3px #DEB887;
}
.fon
{
    background-image: url( pngtree-cute-sun-breeze-background-picturebackgroundbusinesslovelychildjapanese-stylefestival-image_55783.jpg);
}

@media (min-width: 740px)

{
header
{
        display: flex;
        justify-content: center;
}
 ul.menu li
{

   text-decoration: none;

   background-color: #FFB6C1;

}
.logotip_photo
{
    margin-right: 50px;
        width: 150px;
}
.loga
    {
        font-size: 70px;
    }
.photo_1
{
    width: 400px;
}


.r
{
    margin: 0;
    width: 130px; /* Ширина слоя */
    height: 40px;
}
nav.center
{

    background-color: #FFDAB9;
}


    .nadpis
{
    color: azure;
    background-color:#BC8F8F;
    font-size: 17px;
    text-shadow: 6px 4px 3px #DEB887;
}
}

