@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*
{
    margin: 0;
}
.logotip
{
    font-family:"Architects Daughter";
    display: flex;
    align-items: center;
    color: #FA8072;
    font-size: 30px;

}
.logotip_photo
{
    width: 140px;

}
.photo_1
{
    width: 250px;
}
body
{
    margin: 0;
}
header
{
    display: flex;

    background-color: antiquewhite;

    margin-bottom: 10px;
    height: 150px;
}
ul.menu li
{
    list-style-type: none;
    border: 1px solid #FFB6C1; /*Рамка вокруг текста*/
    padding: 10px 10px; /* Поля вокруг текста*/
    background-color: #FFB6C1;
    border-bottom: 3px solid #C71585;
}
nav.center
{
    display:flex;
    flex-direction: column;/*элементы располагаются сверху */
    align-items:center;/*прижатие по центру к левой стороне к началу побочного потока*/
    background-color: #FFDAB9;
    text-decoration: none;
}
.r
{
    display: flex;
    justify-content: center;
     width: 300px; /* Ширина слоя */
    height: 25px;
    text-decoration: none;
    color: #C71585;
}

main
{
    max-width: 960px;
    margin: 0 auto;
    outline: 2px solid #FFB6C1; /*рамка по контуру меню*/
    border: 3px solid #fff;
}
.menu
{
    background: #FFDAB9;
    font-size: 20px; /* Размер шрифта */
    padding: 0; /* Поля вокруг текста */
    text-align: center;
    text-decoration-color: aliceblue;
    width: 320px;
}

.ssulki
{
    background-color: antiquewhite;
}
.spisok
{
    color:#FF1493;
    font-size: 20px;
    padding-left: 25px

}
.tablecol
{
    background-color: antiquewhite;
}
.table
{
    background-color: beige;
}
.table1
{
    background-color: darksalmon
}

th {
    padding: 5px; /* Поля вокруг содержимого таблицы */
    border: 0.5px solid pink; /* Параметры рамки */
   }
table
{
        border-spacing:0px;
    border-collapse: collapse;
}
.anket
{
    background-color: antiquewhite;
}
.nadpis
{
    background-color:#BC8F8F;
    padding: 1px;
    font-size: 17px;
    text-shadow: 6px 4px 3px #DEB887;
}
.fon
{
    background-image: url( pngtree-cute-sun-breeze-background-picturebackgroundbusinesslovelychildjapanese-stylefestival-image_55783.jpg);
}

 .flexbox /*общий класс блока, в котором находятся анкета и таблица*/
    {

        display: flex;
        flex-direction: column; /*расположение сверху вниз*/
    }

    .flexbox div:nth-of-type(2)
    {
        order: -1;/*меняет расположение таблицы и анкуты местами сверху вниз*/

    }

    .tablecol, .anket, .spisok
    {
        padding-top: 15px;

    }

@media (min-width: 740px)

{
header
{
        display: flex;
        justify-content: center;
}
 ul.menu li
{
   display: inline-block; /* Отображать как строчный элемент */
   text-decoration: none;
   margin-right: 50px; /* Отступ слева */
   border: 1px solid #FFB6C1; /* Рамка вокруг текста */
   padding: 10px 10px; /* Поля вокруг текста */
   background-color: #FFB6C1;
   border-bottom: 3px solid #C71585;
}
.logotip_photo
{
    margin-right: 50px;
        width: 150px;
}
.loga
    {
        font-size: 70px;
    }
.photo_1
{
    width: 400px;
}

.menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.r
{
    margin: 0;
    width: 130px; /* Ширина слоя */
    height: 40px;
}
nav.center
{
    display:flex;
    flex-direction: column;/*элементы располагаются сверху */
    align-items:center;/*прижатие по центру к левой стороне к началу побочного потока*/
    background-color: #FFDAB9;
}
    .flexbox /*общий класс блока, в котором находятся анкета и таблица*/
    {

        display: flex;
        flex-direction: column; /*расположение сверху вниз*/
    }

    .flexbox div:nth-of-type(2)
    {
        order: 0;/*меняет расположение таблицы и анкуты местами сверху вниз*/

    }

    .tablecol, .anket, .spisok
    {
        padding-top: 15px;

    }
    .nadpis
{
    color: azure;
    background-color:#BC8F8F;
    padding: 10px;
    font-size: 17px;
    text-shadow: 6px 4px 3px #DEB887;
}
}
