@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.loga

{
    font-family:"Architects Daughter";

    color: #FA8072;

    margin: 0;
    font-size: 2.5em;
    padding: 50px
}
body
{
    margin: 0;
}
header
{
    background-color: antiquewhite;

    margin-bottom: 10px;
    height: 150px;
}
.logotip_photo
{
    float: left;
    margin: 5px 5% 0 35%
}
ul.menu
{
    margin: 0; /* Обнуляем значение отступов */
    padding-left: 4px; /* Значение полей */
    margin: 0 auto;

}
   ul.menu li
{
    display: inline-block; /* Отображать как строчный элемент */
    text-decoration: none;
    margin-right: 50px; /* Отступ слева */
    border: 1px solid #FFB6C1; /* Рамка вокруг текста */
    padding: 10px 10px; /* Поля вокруг текста */
    background-color: #FFB6C1;
    border-bottom: 3px solid #C71585;
}
main
{
    max-width: 960px;
    margin: 0 auto;

    outline: 2px solid #FFB6C1; /*рамка по контуру меню */
    border: 3px solid #fff;
}
.menu
{
    background: #FFDAB9;
    font-size: 20px; /* Размер шрифта */
    padding: 10px 20px; /* Поля вокруг текста */
    text-align: center;
    text-decoration-color: aliceblue

}
.podch a
{
    text-decoration: none
}
.r{
    color: #C71585;
}
.ssulki
{
    background-color: antiquewhite;
}
.spisok
{
    color:#FF1493;
    font-size: 20px;
    padding-left: 25px

}
.tablecol
{
    background-color: antiquewhite;
}
.table
{
    background-color: beige;
}
.table1
{
    background-color: darksalmon
}

th {
    padding: 5px; /* Поля вокруг содержимого таблицы */
    border: 0.5px solid pink; /* Параметры рамки */
   }
table
{
        border-spacing:0px;
    border-collapse: collapse;
}
.anket
{
    background-color: antiquewhite;
}
.nadpis
{
    color: azure;
    background-color:#BC8F8F;
    padding: 1px;
    font-size: 17px;
    text-shadow: 6px 4px 3px #DEB887;
}
.fon
{
    background-image: url( pngtree-cute-sun-breeze-background-picturebackgroundbusinesslovelychildjapanese-stylefestival-image_55783.jpg);
}
@media (max-width: 760px)
{
    *
    {
        margin: 0;
    }
    ul.menu li
     {
    display: block; /* Отображать как строчный элемент */
         display: flex;
         flex-direction: column;
    text-decoration: none;

    }
    .loga
    {
    display: flex;
    font-family:"Architects Daughter";
    color: #FA8072;
    font-size: 2.5em;
    }
    .logotip_photo
    {
        display: flex;
        justify-content: flex-start;
        margin: 0;

    }
    .menu{
        display: inline-flex;
        flex-direction: column;

    }
    .r
    {
        display: flex;
        margin: 0 250px;
        justify-content: center;
        width: 300px; /* Ширина слоя */
        height: 25px;


    }
    nav.center
    {
        display:flex;
        flex-direction: column;/*элементы располагаются сверху */
        align-items:center;/*прижатие по центру к левой стороне к началу побочного потока*/
        background-color: #FFDAB9;

    }
    .flexbox /*общий класс блока, в котором находятся анкета и таблица*/
    {
        display: flex;
        flex-direction: column; /*расположение сверху вниз*/
    }

    .flexbox div:nth-of-type(2)
    {
        order: -1;/*меняет расположение таблицы и анкуты местами сверху вниз*/

    }

    .tablecol, .anket, .spisok
    {
        padding-top: 15px;

    }
    .nadpis
{
    color: azure;
    background-color:#BC8F8F;
    padding: 10px;
    font-size: 17px;
    text-shadow: 6px 4px 3px #DEB887;
}
}
