body{
    overflow-x: hidden;
}
header {
    background-color: #bbda74;
    border-bottom: 2px solid #6fdceb;
}
h1, h2, h3{
    color: whitesmoke;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
section.container-md{
    background-color: #f1daff;
}
main{
    background-color: #ffafaf;
}
.img-ref{
    width: 35rem;
}
.grey-div
{
    background-color: rgb(248, 203, 151);
    padding: 0.7rem;
    width: 100%;
}
.nav-ref{
    font-size: 20px;
    border: 2px outset #912b2b;
    background-color: #e07f7f;
}
footer {
    border-top: 1px solid #90be5b;
    background-color: #a099d6;
}
 .copyrate{
    color: rgb(210, 210, 210);
    font-size: 1.4em;
} 
.even{
    background-color: rgb(255, 121, 121);;
}
th, td{
    background-color: rgb(203, 203, 203);
}
table
{
    height: 25vw;
}


